*/__pycache__/
*.csv
*/*/__pycache__/
*/*/*/__pycache__/
.DS_Store
*/.DS_Store
*/*/.DS_Store
/logs
/plugins
*/.cache/
*/logs/
*.csv
*/*.log
*/*/*/spark-warehouse/
airflow/dags/transform/derby.log
airflow/dags/transform/metastore_db/
.vscode/
data/grafana/alerting/
data/grafana/grafana.db
data/prometheus/data/
htmlcov/
.coverage
*/*/configuration.conf
